add.silica
add_multiply_order.silica
add_multiply_parens.silica
chained_multiply_add.silica
chained_multiply_add_parens.silica
divide.silica
divide_forced_order.silica
divide_op_order.silica
mixed_order.silica
mixed_parens.silica
mod.silica
mod_add_order.silica
mod_add_parens.silica
multiply.silica
print_uint8_bind.silica
print_uint8_chained.silica
print_uint8_expression.silica
print_uint8_ignore.silica
print_uint8_literal.silica
print_uint8_variable.silica
subtract.silica
subtract_multiply_order.silica
subtract_multiply_parens.silica
