negate_double_identity_int64.silica
negate_float32_literal.silica
negate_float32_triple.silica
negate_float32_variable.silica
negate_float64_literal.silica
negate_float64_triple.silica
negate_float64_variable.silica
negate_int8_literal.silica
negate_int8_triple.silica
negate_int8_variable.silica
negate_int16_literal.silica
negate_int16_triple.silica
negate_int16_variable.silica
negate_int32_literal.silica
negate_int32_triple.silica
negate_int32_variable.silica
negate_int64_literal.silica
negate_int64_triple.silica
negate_int64_variable.silica
negate_mixed_sequence.silica
