list_no_empty_call.silica
list_int64_create_literal_and_empty.silica
list_int64_mem_writethrough.silica
list_int64_mem_effect_sequence.silica
list_int64_two_primaries_shared_suffix.silica
list_int64_remove_head.silica
list_int64_prepend.silica
list_lit_length_only.silica
list_min_no_comments.silica
list_int64_recursive_sum.silica
list_uint32_prepend_second_chunk.silica
