/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/add.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/add_multiply_order.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/add_multiply_parens.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/chained_multiply_add.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/chained_multiply_add_parens.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/comparator_ops.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/divide.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/divide_forced_order.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/divide_op_order.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/large_add.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/large_chained.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/large_mixed_order.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/large_multiply.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/large_print.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/large_subtract.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/mixed_order.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/mixed_parens.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/mod.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/mod_add_order.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/mod_add_parens.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/multiply.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/print_int64_bind.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/print_int64_chained.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/print_int64_expression.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/print_int64_ignore.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/print_int64_literal.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/print_int64_variable.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/subtract.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/subtract_multiply_order.silica
/Users/yenrab/2T/silica/AArch64/silica-compiler/trials/int64_addition/subtract_multiply_parens.silica
