add.silica
subtract.silica
multiply.silica
divide.silica
divide_op_order.silica
divide_forced_order.silica
add_multiply_order.silica
add_multiply_parens.silica
subtract_multiply_order.silica
subtract_multiply_parens.silica
mod_add_order.silica
mod_add_parens.silica
mixed_order.silica
mixed_parens.silica
chained_multiply_add.silica
chained_multiply_add_parens.silica
mod.silica
print_int64_literal.silica
print_int64_variable.silica
print_int64_bind.silica
print_int64_chained.silica
print_int64_ignore.silica
print_int64_expression.silica
